{% extends 'base.html.twig' %}

{% block title %}Crear nuevo Pokémon{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Crear nuevo Pokémon</h1>

        {{ form_start(form, { 'method': 'POST' }) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Guardar</button>
        {{ form_end(form) }}

        <a href="{{ path('app_pokedex_index') }}" class="btn btn-secondary mt-2">Volver a la lista</a>
    </div>
{% endblock %}
